h1 {
    margin-bottom: 1em;
}
.a-propos-main{
    width: 50%;
    margin: auto;
}

.contenu {
    border-right: 1px solid #8e86b5;
    border-bottom: 1px solid #8e86b5;
    padding-right: 3em;
    padding-bottom: 3em;
}
.contenu h2, 
.contenu ul {
    margin-top: 3em;
}
.contenu + div {
    text-align: center;
}

/* Media query */

@media screen and (max-width: 996px) {
    .a-propos-main {
        width: 65%;
        margin: auto;
    }
}

@media screen and (max-width: 700px) {
    .a-propos-main {
        width: 80%;
        margin: auto;
    }
}